body {
  background: #cc99ff;
}

#logo {
  font-family: 'Sonsie One', cursive;
  text-align: center;
}

#byline {
  font-family: 'Abel', sans-serif;
  text-align: center;
}

#instructions {
  font-family: 'Abel', sans-serif;
}

label {
  font-family: 'Abel', sans-serif;
  font-size: 16px;
}

#map {
  border: 2px black dotted;
  border-radius: 25%;
}

#sidepanel {
  border: 2px black dotted;
  border-radius: 25%;
  width: 400px;
  height: 690px;
}
